@import "./variable.module.scss";

.contact-section {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1440px) {
    min-height: 40vh;
    justify-content: center;
  }

  h1 {
    margin-bottom: 2rem;
    overflow: hidden;

    .after-line {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 21px;
        left: 90px;
        transform: translate(-51%, -38%);
        width: 150px;
        height: 1px;
        background: $darkColor;
      }
    }
  }

  p {
    margin-bottom: 2rem;
  }

  a {
    width: fit-content;
  }
}

// contact form
.contact-form {
  :is(input, textarea) {
    outline: none;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid rgba($darkColor, 0.1);
    border-radius: 5px;

    &:focus {
      box-shadow: 0 0 0 0.15rem rgba($darkColor, 0.15);
    }
  }

  label {
    margin-bottom: 0.5rem;
    display: block;
  }

  button[type="submit"] {
    margin-bottom: 2rem;
  }
}
