@import "./variable.module.scss";

.hero-background {
  position: absolute;
  top: 0;
  left: 0;

  background: url("/images/low-poly-grid-haikei.svg"), no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 550px;
  z-index: -1;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 550px;

  h1 {
    margin: 0;

    span {
      color: $blueColor;
      font-size: 3.5rem;
      line-height: 1.5;

      display: inline-block;
      background: $gradientColor;
      background-clip: text;
      color: transparent;
    }
  }

  @media screen and (max-width: 768px) {
    align-items: flex-start;

    h1 {
      span {
        font-size: 2.75rem;
      }
    }
  }

  p {
    margin: 1rem 0 2.5rem;
    color: rgba($darkColor, 0.75);
    letter-spacing: 0.5px;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  a {
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  :is(.hero-background, .hero-section) {
    min-height: 90vh;
  }
}
