main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-section {
  padding: 0 1rem;
  flex-grow: 1;
  content-visibility: auto;
}

.content {
  margin: auto;
  max-width: 972px;
}

img {
  margin: auto;
  display: block;
  width: 100%;
  height: 80vh;
  border-radius: 0.25rem;
  object-fit: cover;
}
